<form action="/output">
  <div class="form-group">
    <label for="user_choice">Choose an option</label>
    <select class="form-control" name="user_choice">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>
  </div>
  <button type="submit">Play</button>
</form>
