<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div class="container">
      <div class="head">
        <h1>It's Rock Paper Scissors!</h1>
        <img src="img/picture.jpeg" alt="a picture of stuff" />
      </div>
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
